@use "settings";

/*
 * `$opsz_mult` is used if the icon should be placed where it isn't 1rem.
 *      In such a case, it should be the the value of rem, without the unit.
 *      E.g. `2rem` would be `2`.
 */
@mixin icon($opsz_mult: 1) {
    display: inline-block;
    max-width: 1.15ch;
    overflow: hidden;

    content: attr(icon);
    margin-right: settings.$pad-relative-xxs;

    font-family: 'Material Symbols Outlined';
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24 * $opsz_mult;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
