$black: #0C120F;
$white: #F3F7F5;

$grey100: desaturate(darken($white, 5%), 10%);
$grey200: desaturate(darken($white, 20%), 10%);
$grey300: desaturate(darken($white, 35%), 10%);
$grey400: desaturate(darken($white, 50%), 10%);

$green100: #75C787;
$green200: #12662F;
$green300: #0B471D;
$green400: #042A0D;
$green: $green200;


$yellow100: #FED997;
$yellow200: #CC8D0A;
$yellow300: #A26C06;
$yellow400: #623804;
$yellow: $yellow200;

$red100: #E78D6E;
$red200: #CC4B16;
$red300: #892F12;
$red400: #330002;
$red: $red200;

$blue200: #2880de;
$blue: $blue200;

$purple200: #d020cd;
$purple: $purple200;

$primary100: $green100;
$primary200: $green200;
$primary300: $green300;
$primary400: $green400;
$primary: $green;

$secondary100: $yellow100;
$secondary200: $yellow200;
$secondary300: $yellow300;
$secondary400: $yellow400;
$secondary: $yellow;

$tertiary100: $red100;
$tertiary200: $red200;
$tertiary300: $red300;
$tertiary400: $red400;
$tertiary: $red;

$surface: desaturate(lighten($yellow100, 12%), 40%);
$standout: $white;
$text: $black;

$success: $green;
$danger: $red;
$warning: $yellow;
$info: $blue;

$shadow100: rgba($black, 0.05);
$shadow200: rgba($black, 0.15);
$shadow300: rgba($black, 0.35);
$shadow400: rgba($black, 0.5);
