$black: #12121A;
$white: #FAFAFF;

$grey100: #D3D3D9;
$grey200: #ADADB3;
$grey300: #86868D;
$grey400: #5F5F66;
$grey500: #393940;

$green100: #BFEED7;
$green200: #58D599;
$green300: #0EB866;
$green400: #078347;
$green500: #024B28;
$green: $green300;

$yellow100: #F8F2C4;
$yellow200: #EFDF67;
$yellow300: #E6CD0F;
$yellow400: #AA9703;
$yellow500: #5C5100;
$yellow: $yellow300;

$red100: #F8C4B9;
$red200: #F35D3F;
$red300: #D72704;
$red400: #A71D02;
$red500: #701300;
$red: $red300;

$blue100: #A8CDF0;
$blue200: #318BDD;
$blue300: #0E66B8;
$blue400: #074A88;
$blue500: #003261;
$blue: $blue300;

$purple300: #d020cd;
$purple: $purple300;

$primary100: $green100;
$primary200: $green200;
$primary300: $green300;
$primary400: $green400;
$primary500: $green500;
$primary: $green;

$success100: $green100;
$success200: $green200;
$success300: $green300;
$success400: $green400;
$success500: $green500;
$success: $green;

$danger100: $red100;
$danger200: $red200;
$danger300: $red300;
$danger400: $red400;
$danger500: $red500;
$danger: $red;

$warning100: $yellow100;
$warning200: $yellow200;
$warning300: $yellow300;
$warning400: $yellow400;
$warning500: $yellow500;
$warning: $yellow;

$info100: $blue100;
$info200: $blue200;
$info300: $blue300;
$info400: $blue400;
$info500: $blue500;
$info: $blue;

$text: $black;
$surface: #F2F2FA;
$standout: $white;

$shadow200: rgba($black, 0.1);
