$font-family-default: 'Readex Pro', sans-serif;
$font-family-heading: 'Readex Pro', sans-serif;
$font-family-paragraph: 'Gentium Plus', serif;
$font-family-forms: 'Readex Pro', sans-serif;

$pad-fixed-xxs: .25rem;
$pad-fixed-xs: .5rem;
$pad-fixed-s: .75rem;
$pad-fixed-m: 1rem;
$pad-fixed-l: 1.5rem;
$pad-fixed-xl: 2rem;

$pad-relative-xxs: .25em;
$pad-relative-xs: .5em;
$pad-relative-s: .75em;
$pad-relative-m: 1em;
$pad-relative-l: 1.5em;
$pad-relative-xl: 2em;
