@use "palette";
@use "settings";
@use "mixins";

article {
    background-color: palette.$standout;
    box-shadow: 0 .5rem .75rem palette.$shadow200;

    // This is necessary for teh CSS to work correctly (at least in Firefox)...
    // I don't know why, but it pisses me off too!
    // Without it, the margin defined for `p` below, will not create "padding" on the `.news-item`-element...
    padding-bottom: 1px;

    > * {
        margin: settings.$pad-fixed-m;
    }

    > img:first-child {
        margin: 0;
    }

    > h1 {
        font-size: 2.5rem;
    }

    > .lead-paragraph {
        font-weight: bold;
    }

    > .text-body {
        * {
            margin-bottom: settings.$pad-fixed-m;
        }

        h2 {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0;

            + p {
                margin-top: 0;
            }
        }
    }


    > .info * {
        font-family: settings.$font-family-default;
        font-size: .85rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        padding-top: settings.$pad-fixed-xs;
        border-top: .15rem solid palette.$grey200;

        > .author {
            display: grid;
            grid-template-areas: 'img name' 'img contact' 'img link';
            grid-template-columns: 6rem 1fr;
            grid-template-rows: max-content max-content 1fr;
            gap: 0 settings.$pad-fixed-s;
            margin-bottom: 1rem;

            > img {
                grid-area: img;
                width: 100%;
                aspect-ratio: 1 / 1;
            }

            > .author {
                grid-area: author;
                display: flex;
                flex-direction: column;
                gap: 0 settings.$pad-fixed-s;
            }

            > .byline {
                grid-area: name;
                font-size: 1.2em;
                font-weight: 400;
            }

            > .link,
            .contact {
                grid-area: link;
                width: max-content;
                height: max-content;
            }

            .contact {
                grid-area: contact;
            }
        }

        .tags {
            margin-top: settings.$pad-fixed-m;
        }
    }

    .tag {
        cursor: pointer;
        color: palette.$primary500;
        background-color: palette.$primary100;
        font-family: settings.$font-family-forms;
        font-size: .75rem;
        font-weight: 300;
        line-height: 1;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: settings.$pad-relative-s settings.$pad-relative-l;
        max-width: 100%;
        overflow: hidden;
        border-radius: 9999rem;
        text-decoration: none;
        background-color: palette.$primary100;
        color: palette.$primary500;

        &:hover,
        &:focus {
            background-color: darken(palette.$primary100, 5%);
        }

        &:active {
            background-color: darken(palette.$primary100, 10%);
        }

        &[icon] {
            display: flex;
            padding-left: settings.$pad-relative-m;
            align-items: center;
        }

        &[icon]::before {
            @include mixins.icon;
            color: palette.$primary400;
        }
    }
}
