@use "palette";
@use "settings";
@use "mixins";

article {
    > * {
        margin: settings.$pad-fixed-m;
    }

    > img:first-child {
        margin: 0;
        border-radius: 1rem 1rem 0 0;
    }

    > h1 {
        font-size: 2.5rem;
    }

    > .lead-paragraph {
        font-weight: bold;
    }

    > .text-body {
        * {
            margin-bottom: settings.$pad-fixed-m;
        }

        h2 {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0;

            + p {
                margin-top: 0;
            }
        }
    }


    > .info * {
        font-family: settings.$font-family-default;
        font-size: .85rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        padding-top: settings.$pad-fixed-xs;
        border-top: 1px solid palette.$grey100;

        > .author {
            display: grid;
            grid-template-areas: 'img name' 'img contact' 'img link';
            grid-template-columns: 6rem 1fr;
            grid-template-rows: max-content max-content 1fr;
            gap: 0 settings.$pad-fixed-s;
            margin-bottom: 1rem;

            > img {
                grid-area: img;
                width: 100%;
                aspect-ratio: 1 / 1;
            }

            > .author {
                grid-area: author;
                display: flex;
                flex-direction: column;
                gap: 0 settings.$pad-fixed-s;
            }

            > .byline {
                grid-area: name;
                font-size: 1.2em;
                font-weight: 400;
            }

            > .link,
            .contact {
                grid-area: link;
                width: max-content;
                height: max-content;
            }

            .contact {
                grid-area: contact;
            }
        }

        .tags {
            margin-top: settings.$pad-fixed-m;
        }
    }
}
