@use "palette";
@use "settings";
@use "mixins";

.box {
    background-color: palette.$standout;
    margin-bottom: settings.$pad-fixed-xl;
    container-type: inline-size;
    width: 100%;
    border: 1px solid palette.$grey100;
    border-radius: 1rem;

    // > :not(:last-child) {
    //     margin-bottom: settings.$pad-fixed-m;
    // }

    > h2 {
        margin-top: 0;
        display: flex;
        align-items: center;

        &[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$grey400;
        }
    }

    .content {
        width: 100%;
    }

    &.success {
        background-color: palette.$green100;

        > h2[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$green400;
        }
    }

    &.warning {
        background-color: palette.$yellow100;

        > h2[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$yellow400;
        }
    }

    &.error {
        background-color: palette.$red100;

        > h2[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$red400;
        }
    }

    &.pad {
        padding: settings.$pad-fixed-m
    }
}
