@use "palette";
@use "settings";
@use "mixins";

.box {
    background-color: palette.$standout;
    container-type: inline-size;
    width: 100%;
    border: 1px solid palette.$grey100;
    border-radius: 1rem;

    &.pad {
        padding: settings.$pad-fixed-m
    }

    &.margin-bottom {
        margin-bottom: settings.$pad-fixed-xl;
    }

    > h2 {
        margin-top: 0;
        display: flex;
        align-items: center;

        &[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$grey400;
        }
    }

    &.success {
        background-color: palette.$green100;
        border-color: palette.$green300;

        > h2[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$green400;
        }
    }

    &.warning {
        background-color: palette.$yellow100;
        border-color: palette.$yellow300;

        > h2[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$yellow400;
        }
    }

    &.error {
        background-color: palette.$red100;
        border-color: palette.$red300;

        > h2[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$red400;
        }
    }
}
