@use "palette";
@use "settings";
@use "mixins";

.btn,
.btn:visited {
    cursor: pointer;
    color: palette.$primary500;
    background-color: transparent;
    font-family: settings.$font-family-forms;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: settings.$pad-relative-s settings.$pad-relative-l;
    max-width: 100%;
    overflow: hidden;
    border-radius: settings.$border-radius-m;
    border: 2px solid palette.$primary100;

    transition: border-radius .3s, background-color .2s;

    &:hover,
    &:focus {
        border-radius: settings.$border-radius-l;
        background-color: palette.$primary100;
    }

    &:active {
        background-color: darken(palette.$primary100, 10%);
    }

    &[icon] {
        display: flex;
        padding-left: settings.$pad-relative-m;
        align-items: center;
    }

    &[icon]::before {
        @include mixins.icon;
        color: palette.$primary400;
    }

    &.icon-only {
        padding: settings.$pad-relative-xs settings.$pad-relative-l;

        &::before {
            margin-right: 0;
        }
    }

    &.dangerous {
        color: palette.$danger500;
        border-color: palette.$danger100;

        &:hover {
            background-color: palette.$danger100;
        }

        &:active {
            background-color: darken(palette.$danger100, 5%);
        }

        &[icon]::before {
            color: palette.$danger400;
        }
    }

    &.small-btn {
        font-size: .75rem;
        padding: settings.$pad-relative-s settings.$pad-relative-l;
        border-radius: 9999rem;
        text-decoration: none;

        &:hover {
            filter: brightness(0.95);
        }
    }
}
