@use "palette";
@use "mixins";

.toolbox {
    box-shadow: 0 .5rem .75rem palette.$shadow200;
    background-color: palette.$standout;
    padding: 1rem;
    margin-bottom: 2rem;
    container-type: inline-size;

    > :not(:last-child) {
        margin-bottom: 1rem;
    }

    > h2 {
        margin-top: 0;
        display: flex;
        align-items: center;

        &[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$primary400;
        }
    }
}

// TODO: This might be useful somewhere else, so it might need
// to be moved somewhere else.
.profile {
    display: grid;
    grid-template-areas: 'pfp name' 'pfp info';
    grid-template-columns: 1fr 45ch;
    grid-template-rows: repeat(auto, 2);
    gap: 1rem;

    > * {
        margin: 0;
    }

    > img {
        grid-area: pfp;
        aspect-ratio: 1 / 1;
    }

    > .name {
        grid-area: name;
    }

    > .info {
        grid-area: info;
    }
}

@container (width < 60ch) {
    .profile {
        grid-template-areas: 'pfp' 'name' 'info';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 3);

        > img {
            margin: 0 auto;
            width: min(45ch, 100%);
        }
    }
}
