@use "palette";
@use "settings";

// TODO: This might be useful somewhere else, so it might need
// to be moved somewhere else.
.profile {
    display: grid;
    grid-template-areas: 'pfp name' 'pfp info';
    grid-template-columns: 1fr 45ch;
    grid-template-rows: repeat(auto, 2);
    gap: settings.$pad-fixed-m;

    > * {
        margin: 0;
    }

    > img {
        grid-area: pfp;
        aspect-ratio: 1 / 1;
    }

    > .name {
        grid-area: name;
    }

    > .info {
        grid-area: info;
    }
}

.article-box {
    display: grid;
    grid-template-areas: 'title actions' 'date actions';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    place-items: start;
    padding: settings.$pad-fixed-m;
    margin-bottom: settings.$pad-fixed-m;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        grid-area: title;
        font-family: settings.$font-family-default;
        font-weight: 300;
    }

    .date {
        grid-area: date;
        font-family: settings.$font-family-default;
        font-size: .85em;
        color: palette.$grey400;
    }

    .actions {
        grid-area: actions;
    }
}

@container (width < 60ch) {
    .profile {
        grid-template-areas: 'pfp' 'name' 'info';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 3);

        > img {
            margin: 0 auto;
            width: min(45ch, 100%);
        }
    }
}
