@use "palette";
@use "settings";
@use "mixins";

.toolbox,
.infobox {
    box-shadow: 0 .5rem .75rem palette.$shadow200;
    background-color: palette.$standout;
    padding: 1rem;
    margin-bottom: 2rem;
    container-type: inline-size;
    width: 100%;

    > :not(:last-child) {
        margin-bottom: 1rem;
    }

    > h2 {
        margin-top: 0;
        display: flex;
        align-items: center;

        &[icon]::before {
            @include mixins.icon(2.4);
            color: palette.$primary400;
        }
    }

    .content {
        width: 100%;
    }
}

.infobox {
    &.success {
        background-color: palette.$green100;
    }

    &.warning {
        background-color: palette.$yellow100;
    }

    &.error {
        background-color: palette.$red100;
    }
}

// TODO: This might be useful somewhere else, so it might need
// to be moved somewhere else.
.profile {
    display: grid;
    grid-template-areas: 'pfp name' 'pfp info';
    grid-template-columns: 1fr 45ch;
    grid-template-rows: repeat(auto, 2);
    gap: 1rem;

    > * {
        margin: 0;
    }

    > img {
        grid-area: pfp;
        aspect-ratio: 1 / 1;
    }

    > .name {
        grid-area: name;
    }

    > .info {
        grid-area: info;
    }
}

.article-box {
    display: grid;
    grid-template-areas: 'title actions' 'date actions';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    place-items: start;
    background-color: palette.$surface;
    padding: 1rem;
    margin-bottom: 1rem;

    .title {
        grid-area: title;
        font-family: settings.$font-family-default;
        font-weight: 300;
    }

    .date {
        grid-area: date;
        font-family: settings.$font-family-default;
        font-size: .85em;
        color: palette.$grey400;
    }

    .actions {
        grid-area: actions;
    }
}

@container (width < 60ch) {
    .profile {
        grid-template-areas: 'pfp' 'name' 'info';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 3);

        > img {
            margin: 0 auto;
            width: min(45ch, 100%);
        }
    }
}
