@use "palette";
@use "settings";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root,
body {
    font-family: settings.$font-family-default;
    font-weight: 250;
    line-height: 1.5;
    color: palette.$text;
    font-size: 12pt;
}

/*
 * Since `font-weight` is set above, we need to re-define it
 * here for the <b> tag to bold text.
 * (Yes, this seems really dumb.)
 */
b,
strong {
    font-weight: bold;
}

// Image loading animation
img {
    width: 100%;
    aspect-ratio: 3 / 1;
    background: linear-gradient(to left, palette.$grey100, palette.$white, palette.$grey100);
    background-repeat: no-repeat;
    background-size: 20%;
    // Unsure if the "infinite" affects performance in a bad way...
    animation: imageLoadShimmer 1s ease 0s infinite alternate forwards;
}

@keyframes imageLoadShimmer {
    from {
        background-position-x: 0%;
    }

    to {
        background-position-x: 100%;
    }
}
