@use "palette";
@use "settings";

.editor {
    > .heading {
        font-size: 2rem;
        font-weight: 400;
        padding: settings.$pad-fixed-xs settings.$pad-fixed-s;
    }

    .leading-paragraph {
        font-weight: 400;
    }
}

.block-editor {
    .block {
        position: relative;
        padding-right: 2rem !important;
        background-color: transparent !important;

        > .block-actions {
            height: 0;
            opacity: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: settings.$pad-fixed-xxs;
            top: 50%;
            right: -2rem;
            translate: 0 -50%;
            padding: settings.$pad-fixed-xxs;
            background-color: palette.$standout;
            border: 1px solid palette.$grey100;
            border-radius: settings.$border-radius-m;
            box-shadow: 0 .25rem .5rem palette.$shadow200;

            > .btn {
                font-size: .75em;
                padding: settings.$pad-relative-xs settings.$pad-relative-s;
            }
        }

        &:hover > .block-actions {
            height: auto;
            opacity: 1;
            transition: opacity .3s;
        }

        &:first-child > .block-actions [icon="keyboard_arrow_up"] {
            display: none;
        }

        &:last-child > .block-actions [icon="keyboard_arrow_down"] {
            display: none;
        }
    }
}
