@use "palette";
@use "settings";

.editor {
    width: 100%;
    height: fit-content;
    padding: settings.$pad-fixed-m;
    background-color: palette.$surface;

    .actions {
        height: fit-content;
        margin-bottom: settings.$pad-fixed-m;
    }

    .textbox {
        background-color: palette.$standout;
        height: fit-content;
        min-height: 60vh;
        padding: settings.$pad-fixed-m;

        > * {
            margin-bottom: settings.$pad-fixed-xs;
        }

        h1 {
            font-size: 2rem;
            font-weight: 400;

            &:not(:first-child) {
                color: palette.$white;
                background-color: palette.$red;
            }
        }

        h2 {
            font-size: 1rem;
            font-weight: 400;
        }

        :not(h1, h2) {
            font-family: settings.$font-family-paragraph;
        }

        ul,
        ol {
            margin-left: settings.$pad-fixed-xl;
        }
    }

    .info {
        margin-top: settings.$pad-fixed-m;

        p {
            font-family: settings.$font-family-default;
            font-size: .85rem;

            &:not(:last-child) {
                // padding-right: .5em;
                // border-right: 1px solid palette.$text;
                margin-right: settings.$pad-fixed-m;
            }
        }
    }
}
