$pruned-unicode-range: 'U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';

@font-face {
    font-family: 'Gentium Plus';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('Gentium Plus'),
        url("/static/fonts/GentiumPlus/GentiumPlus-Regular.woff2") format('woff2'),
        url("/static/fonts/GentiumPlus/GentiumPlus-Regular.ttf") format('truetype');
    unicode-range: $pruned-unicode-range;
}

@font-face {
    font-family: 'Gentium Plus';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: local('Gentium Plus'),
        url("/static/fonts/GentiumPlus/GentiumPlus-Italic.woff2") format('woff2'),
        url("/static/fonts/GentiumPlus/GentiumPlus-Italic.ttf") format('truetype');
    unicode-range: $pruned-unicode-range;
}

@font-face {
    font-family: 'Gentium Plus';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local('Gentium Plus'),
        url("/static/fonts/GentiumPlus/GentiumPlus-Bold.woff2") format('woff2'),
        url("/static/fonts/GentiumPlus/GentiumPlus-Bold.ttf") format('truetype');
    unicode-range: $pruned-unicode-range;
}

@font-face {
    font-family: 'Gentium Plus';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: local('Gentium Plus'),
        url("/static/fonts/GentiumPlus/GentiumPlus-BoldItalic.woff2") format('woff2'),
        url("/static/fonts/GentiumPlus/GentiumPlus-BoldItalic.ttf") format('truetype');
    unicode-range: $pruned-unicode-range;
}

@font-face {
    font-family: 'Readex Pro';
    font-display: swap;
    src: local('Readex Pro'),
        url("/static/fonts/ReadexPro/ReadexPro-VariableFont_HEXP_wght.woff2") format('woff2-variations'),
        url("/static/fonts/ReadexPro/ReadexPro-VariableFont_HEXP_wght.ttf") format('truetype-variations');
    unicode-range: $pruned-unicode-range;
}

// https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24..48,300,0,0
@font-face {
    font-family: 'Material Symbols Outlined';
    font-display: swap;
    src: url("/static/fonts/MaterialSymbols/MaterialSymbolsOutlined.woff2"), format("woff2-variations");
}
