@use "palette";
@use "settings";

form {
    display: flex;
    flex-direction: column;
    background-color: palette.$standout;
    padding: settings.$pad-fixed-m;
    font-family: settings.$font-family-forms;

    > input,
    > textarea,
    > select {
        font-family: settings.$font-family-forms;
        font-weight: unset;
        font-size: 1rem;
        background-color: palette.$standout;
        border: 2px solid palette.$grey100;
        border-radius: settings.$border-radius-s;
        padding: settings.$pad-relative-xs settings.$pad-relative-s;
        margin-bottom: settings.$pad-fixed-m;

        transition: border .2s, outline .1s;

        &:hover {
            border-color: palette.$primary200;
        }

        &:active,
        &:focus {
            border-color: palette.$primary;
            outline: 4px solid palette.$primary100;
        }
    }

    > .editor {
        margin-bottom: settings.$pad-fixed-m;
    }

    > label {
        font-weight: 400;
    }

    > textarea {
        resize: vertical;
    }

    > .btn {
        width: max-content;
    }

    &.hidden-form {
        display: none;
    }
}
