@use "palette";
@use "settings";

form,
.form {
    display: flex;
    flex-direction: column;
    background-color: palette.$standout;
    padding: 1rem;
    font-family: settings.$font-family-forms;

    > input,
    > textarea,
    > select {
        font-family: settings.$font-family-forms;
        font-weight: unset;
        font-size: 1rem;
        background-color: palette.$surface;
        border: 0 none transparent;
        padding: .5em 1em;
        margin-bottom: 1rem;
    }

    > .editor {
        margin-bottom: 1rem;
    }

    > label {
        font-weight: 400;
    }

    > textarea {
        resize: vertical;
    }

    > .btn {
        width: max-content;
    }
}

/// .form is a div containing inputs in a form.
/// It should therefore not add extra padding.
.form {
    padding: 0;
}
