@use "palette";
@use "settings";

html {
    background-color: palette.$surface;
    container-type: inline-size;
}

body {
    grid-area: body;
    display: grid;
    min-height: 100vh;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr 70ch 35ch 1fr;
    grid-template-areas:
        'nav    nav    nav    nav'
        '.      main   aside  .'
        'footer footer footer footer';

    > nav {
        display: grid;
        grid-template-columns: subgrid;
        grid-area: nav;
        padding: settings.$pad-fixed-m;
        background-color: palette.$standout;
        border-bottom: .2rem solid palette.$primary400;
        // box-shadow: 0 .5rem .75rem palette.$shadow200;
        margin-bottom: settings.$pad-fixed-m;

        #nav-menu-button {
            display: none;
            width: min-content;
        }

        > .content {
            grid-column: 2 / 4;
        }

        .links,
        .content {
            display: flex;
            align-items: center;
        }

        .logo,
        .logo > img {
            aspect-ratio: unset;
            height: 2.5rem;
            width: auto;
            background-image: none;
            background-color: transparent;
            margin-right: settings.$pad-fixed-s;
        }

        .links > a,
        .links > a:visited {
            height: fit-content;
            display: block;
            padding: 0 settings.$pad-fixed-m;
            color: palette.$text;
            text-decoration: solid underline 1px palette.$primary200;
            border-right: 1px solid palette.$grey200;

            transition: text-decoration .3s;

            &:hover {
                text-decoration: solid underline 2px palette.$primary;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: 0 none transparent;
            }
        }
    }

    > main {
        grid-area: main;
        margin: settings.$pad-fixed-m settings.$pad-fixed-xs settings.$pad-fixed-m 0;
        background-color: transparent;
        box-shadow: none;
    }

    > aside {
        grid-area: aside;
        margin: settings.$pad-fixed-m 0 20vmin settings.$pad-fixed-m;
        height: max-content;
        position: sticky;
        top: 1rem;
    }

    > footer {
        grid-area: footer;
        color: palette.$surface;
        background-color: palette.$primary500;
        margin-top: 5vmin;
        padding: settings.$pad-fixed-xl;
        font-family: settings.$font-family-default;

        > * {
            font-family: inherit;
        }

        a,
        a:visited {
            color: inherit;
            text-decoration: solid underline 1px palette.$primary300;
            transition: text-decoration .3s;

            &:hover {
                text-decoration: solid underline 2px palette.$primary100;
            }
        }
    }
}

main > h1:first-child {
    margin: 0 0 settings.$pad-fixed-m 0;
}

.flex {
    display: flex;
    width: 100%;
    column-fill: balance;

    &.wrap {
        flex-wrap: wrap;
    }

    &.column {
        flex-direction: column;
    }

    &.center {
        align-items: center;
        justify-content: center;
    }

    &.gap {
        gap: settings.$pad-fixed-xs;
    }

    > .sep {
        background-color: palette.$grey100;
        height: 1px;
        width: 90%;
        margin: settings.$pad-fixed-xs 5%;
    }
}

@container (width < 115ch) {
    body {
        grid-template-columns: 1fr 60ch 30ch 1fr;
    }
}

@container (width < 95ch) {
    body {
        grid-template-areas: 'nav' 'main' 'aside' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr max-content;

        > nav > .links > a:first-child {
            padding: 0 settings.$pad-fixed-m;
        }

        > main,
        > aside {
            margin: settings.$pad-fixed-xl settings.$pad-fixed-xl 0 settings.$pad-fixed-xl;
        }

        > aside {
            position: static;
        }
    }
}

// FIXME: This is so bad...
@container (width < 700px) {
    body nav {
        .links {
            position: fixed;
            background-color: palette.$standout;
            border: 1px solid palette.$grey100;
            flex-direction: column;
            width: 80%;
            top: -200%;
            left: 0;
            display: none;
            padding: settings.$pad-fixed-l;
            z-index: 2;

            &.visible {
                display: flex;
                top: 0;
            }

            a,
            a:visited {
                padding: settings.$pad-fixed-m;
                border-right: 0 none transparent;
            }
        }

        #nav-menu-button {
            display: block;
            margin-left: auto;
        }

        .content {
            padding: 0 settings.$pad-fixed-m;
        }
    }
}
