@use "palette";

html {
    background-color: palette.$surface;
    display: grid;
    grid-template-columns: 1fr min(90vw, 120ch) 1fr;
    grid-template-areas: '. body .';
}

body {
    grid-area: body;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 30ch;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: 'nav nav' 'main aside' 'footer footer';

    > nav {
        grid-area: nav;
        padding: 1rem;
        background-color: palette.$standout;
        border-bottom: .2rem solid palette.$primary;
        box-shadow: 0 .5rem .75rem palette.$shadow200;

        a,
        a:visited {
            display: block;
            padding: 0 1rem;
            color: palette.$text;
            text-decoration: solid underline 1px palette.$primary200;
            border-right: 1px solid palette.$grey200;

            transition: text-decoration .3s;

            &:hover {
                text-decoration: solid underline 2px palette.$primary;
            }

            &:last-child {
                border-right: 0 none transparent;
            }
        }
    }

    > main {
        grid-area: main;
        margin: 1rem .5rem 1rem 0;
        background-color: transparent;
        box-shadow: none;
    }

    > aside {
        grid-area: aside;
        margin: 1rem 0 1rem .5rem;
        height: max-content;
        position: sticky;
        top: 1rem;
    }

    > footer {
        grid-area: footer;
    }
}

main,
.side-content {
    > h1:first-child {
        color: palette.$white;
        background-color: palette.$primary;
        margin: 0 0 1rem 0;
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.side-content {
    box-shadow: 0 .5rem .75rem palette.$shadow200;
    background-color: palette.$standout;
    margin-bottom: 1rem;

    > div {
        padding: 0 1rem 1rem 1rem;
    }
}

.flex {
    display: flex;
    width: 100%;
    column-fill: balance;

    &.wrap {
        flex-wrap: wrap;
    }

    &.column {
        flex-direction: column;
    }

    &.gap {
        gap: .5rem;
    }
}

@media screen and (max-width: 800px) {
    body {
        grid-template-areas: 'nav' 'main' 'aside' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr max-content;

        > aside {
            position: static;
        }
    }

}