@use "palette";
@use "settings";

.news-item,
.news-item:visited {
    all: unset;
    cursor: pointer;
    display: block;
    margin-bottom: settings.$pad-fixed-xl;

    // This is necessary for teh CSS to work correctly (at least in Firefox)...
    // I don't know why, but it pisses me off too!
    // Without it, the margin defined for `p` below, will not create "padding" on the `.news-item`-element...
    padding-bottom: 1px;

    > h1,
    > p {
        margin: settings.$pad-fixed-m;
    }

    > p {
        font-family: settings.$font-family-default
    }

    &:hover {
        > h1 {
            text-decoration: underline;
        }
    }

    .type {
        font-size: .85em;
        font-weight: 400;
        padding: settings.$pad-relative-xxs settings.$pad-relative-xs;
        margin-right: .5em;
        color: palette.$primary400;
        background-color: palette.$primary100;
    }

    .news-meta-data {
        color: palette.$grey400;
    }
}
