@use "palette";
@use "settings";

.news-item,
.news-item:visited {
    all: unset;
    border: 1px solid palette.$grey100;
    border-radius: settings.$border-radius-m;
    background-color: palette.$standout;
    box-shadow: 0 .25rem .5rem palette.$shadow200;
    cursor: pointer;
    display: block;
    margin-bottom: settings.$pad-fixed-l;
    transition: box-shadow .3s, border-color .1s;

    &:hover {
        border-color: palette.$grey200;
        box-shadow: 0 .5rem .5rem palette.$shadow200;

        > h2 {
            text-decoration: underline;
        }
    }

    > img {
        margin-bottom: 0;
        border-radius: settings.$border-radius-m settings.$border-radius-m 0 0;
        aspect-ratio: 3 / 1;
        object-fit: cover;
    }

    > h2,
    > p {
        margin: settings.$pad-fixed-m;
    }

    > h2 {
        margin-top: 0;
        padding: 0;
        padding-top: settings.$pad-fixed-s;
        border-bottom: 0 none transparent;
    }

    > p {
        font-family: settings.$font-family-default
    }

    .type {
        font-size: .85em;
        font-weight: 400;
        padding: settings.$pad-relative-xxs settings.$pad-relative-xs;
        margin-right: .5em;
        color: palette.$primary400;
        background-color: palette.$primary100;
    }

    .news-meta-data {
        color: palette.$grey400;
    }
}
