@use "palette";
@use "settings";

table {
    margin: settings.$pad-fixed-m 0;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
}

thead {
    border-bottom: .1rem solid palette.$grey200;
}

tr {
    background-color: palette.$surface;

    &:nth-child(even) {
        background-color: palette.$standout;
    }
}

td,
th {
    text-align: left;
    padding: settings.$pad-fixed-xs settings.$pad-fixed-m;
    width: max-content;
}
