@use "palette";
@use "settings";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    margin: .5em 0 .15em 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

a {
    color: palette.$blue;

    &:visited {
        color: palette.$purple;
    }
}

p,
ul,
ol {
    font-family: settings.$font-family-paragraph;
}

ul,
ol {
    margin-left: 1em;
}

// FIXME: Import this font.
code,
var {
    font-family: 'Fira Code', monospace;
    font-size: .85em;
    color: palette.$primary400;
    background-color: palette.$primary100;
    padding: .15em .5em;
    border-radius: .15em;
}

blockquote {
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 10%;

    &::before {
        content: '”';
        color: palette.$yellow100;
        position: absolute;
        top: -3rem;
        left: 50%;
        z-index: -1;
        translate: -75%;
        font-family: settings.$font-family-default;
        font-size: 8rem;
        text-align: center;
    }
}
