@use "palette";
@use "settings";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: settings.$pad-relative-xs 0 settings.$pad-relative-xxs 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: palette.$blue;

    &:visited {
        color: palette.$purple;
    }
}

p,
ul,
ol {
    font-family: settings.$font-family-paragraph;
}

ul,
ol {
    margin-left: settings.$pad-fixed-m;
}

// FIXME: Import this font.
code,
var {
    font-family: 'Fira Code', monospace;
    font-size: .85em;
    color: palette.$primary400;
    background-color: palette.$primary100;
    padding: settings.$pad-relative-xxs settings.$pad-relative-xs;
    border-radius: settings.$border-radius-s;
}

blockquote {
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 10%;

    &::before {
        content: '”';
        color: palette.$yellow100;
        position: absolute;
        top: -3rem;
        left: 50%;
        z-index: -1;
        translate: -75%;
        font-family: settings.$font-family-default;
        font-size: 8rem;
        text-align: center;
    }

    &[cite] {
        margin-bottom: 3rem;

        &::after {
            content: '– ' attr(cite);
            position: absolute;
            bottom: -2.5rem;
            right: 3rem;
            color: palette.$grey400;
        }
    }
}

mark {
    display: inline;
    background-color: palette.$yellow200;
    padding: settings.$pad-fixed-xxs 0;

    // I am using nonbreaking spaces (&nbsp;) instead of padding so that
    // underlines are still rendered throughout all of the marking.
    // A bit hacky, but it works! :>
    &::after,
    &::before {
        content: ' ';
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.6rem;
    }
}
