<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="alternate" title="Klister Studenttidning" type="application/atom+xml" href="/feed/atom.xml">
    {% block head %}
    <title>Nyheter – Klister</title>
    {% endblock head %}
</head>

<body>
    <nav class="flex wrap">
        <a href="/">LOGGA</a>
        <a href="/texts/type/article">Nyheter</a>
        <a href="/texts/type/coverage">Reportage</a>
        <a href="/texts/type/opinion">Opinion</a>
        <a href="/texts/type/other">Annat</a>
        <a href="/about-us">Om oss</a>
        <a href="/search">Sök</a>
    </nav>
    <main>
        {% block main %}
        <p>Hello world!</p>
        {% endblock main %}
    </main>
    <aside>
        {% block aside %}
        {% if tags %}
        <div class="side-content">
            <h1>Populära taggar</h1>
            <div class="flex wrap gap" id="popular-tags">
                {% for tag in tags %}
                <a class="btn" icon="tag" href="/texts/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if authors %}
        <div class="side-content">
            <h1>Skribenter</h1>
            {% for author in authors %}
            <div class="flex wrap gap" id="writers">
                <a class="btn" icon="person" href="/texts/author/{{ author.username }}">{{ author.display_name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endblock aside %}
    </aside>
    <footer class="flex column center gap">
        <a href="/">LOGGA</a>
        <p>&copy; Redaktionen</p>
        <a href="/control-panel/login">Inloggning för redaktionen</a>
    </footer>
</body>

</html>
