<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="alternate" title="{{ get_env(name="SITE_TITLE") }}" type="application/atom+xml" href="/feed/atom.xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link rel="manifest" href="/static/site.webmanifest">
    {% block head %}
    <title>Nyheter – {{ get_env(name="SITE_TITLE") }}</title>
    {% endblock head %}
</head>

<body>
    <nav>
        <div class="links flex wrap">
            <a href="/">LOGGA</a>
            <a href="/texts/type/article">Nyheter</a>
            <a href="/texts/type/coverage">Reportage</a>
            <a href="/texts/type/opinion">Opinion</a>
            <a href="/texts/type/other">Annat</a>
            <a href="/about-us">Om oss</a>
            <a href="/search">Sök</a>
        </div>
        <button id="nav-menu-button" class="btn icon-only" icon="menu"
            onclick="document.querySelector('body > nav > .links').classList.toggle('visible')"></button>
    </nav>
    <main>
        {% block main %}
        <p>Hello world!</p>
        {% endblock main %}
    </main>
    <aside>
        {% block aside %}
        {% if tags %}
        <div class="box side-content">
            <h1>Populära taggar</h1>
            <div class="flex wrap gap" id="popular-tags">
                {% for tag in tags %}
                <a class="btn" icon="tag" href="/texts/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if authors %}
        <div class="box side-content">
            <h1>Skribenter</h1>
            <div class="flex wrap gap" id="writers">
                {% for author in authors %}
                <a class="btn" icon="person" href="/texts/author/{{ author.username }}">{{ author.display_name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock aside %}
    </aside>
    <footer class="flex column center gap">
        <a href="/">LOGGA</a>
        <p>&copy; Redaktionen</p>
        <a href="/control-panel/login">Inloggning för redaktionen</a>
    </footer>
</body>

</html>
