{% extends "templates/app" %}

{% block head %}
<title>Sidan finns inte – {{ get_env(name="SITE_TITLE") }}</title>
{% endblock head %}

{% block main %}
<h1>Error 404: Sidan finns inte!</h1>
<p>
    Ajdå! Det verkar som att du försökte gå till en sida som inte finns.
    <a href="/">Klicka här för att gå till start-sidan!</a>
</p>
{% endblock main %}
