{% extends "templates/app" %}

{% block head %}
<title>Om oss – Klister</title>
{% endblock head %}

{% block main %}
<h1>Journalistik av studenter, för studenter – och alla andra!</h1>
<article>
    {{ about_us_md | markdown | safe }}
</article>
{% endblock main %}
