name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: news
          POSTGRES_PASSWORD: news
          POSTGRES_DB: news
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v4
    - name: Install postgres client
      run: sudo apt-get install -y postgresql-client
    - name: Setup tables
      run: psql "postgres://news:news@localhost/news" -a -f "sql/0-create_tables.sql"
    - name: Check code
      run: cargo check --quiet
      env:
        DATABASE_URL: "postgres://news:news@localhost/news"
    - name: Check format
      run: cargo fmt --check
    - name: Clippy
      run: cargo clippy --quiet
      env:
        DATABASE_URL: "postgres://news:news@localhost/news"
    - name: Run tests
      run: cargo test --quiet
      env:
        DATABASE_URL: "postgres://news:news@localhost/news"
